.gitignore
.cproject
.DS_Store
documentation/.DS_Store
src/.DS_Store
src/mcu_peripherals/.DS_Store
src/modules/.DS_Store
Debug
/.metadata/
/Debug basic/
/dbg_basic/
.settings/language.settings.xml
CMSIS/.DS_Store
CMSIS/CM3/.DS_Store
CMSIS/CM3/DeviceSupport/.DS_Store
CMSIS/CM3/DeviceSupport/ST/.DS_Store
growhome\ Debug.cfg
